{% extends 'base.html.twig' %}

{% block title %}Edit Wallet{% endblock %}

{% block body %}
    <h1>Edit Wallet</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Save changes</button>
    {{ form_end(form) }}

    <a href="{{ path('wallet_index') }}" class="btn btn-secondary">Back to list</a>
{% endblock %}
